
IDATT2502_AI/Practise/data/cifar-10-python.tar.gz
*.gz
IDATT2502_AI/Practise/data/FashionMNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/t10k-images-idx3-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/t10k-images-idx3-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/t10k-images-idx3-ubyte
*.exe
IDATT2502_AI/Oving5/agaricus-lepiota.data
*.tar
IDATT2101_DataAlgo/Oving6/L7g5.txt
IDATT2101_DataAlgo/Oving6/L7g2.txt
IDATT2101_DataAlgo/Oving6/L7g1.txt
IDATT2101_DataAlgo/Oving6/L7g3.txt
IDATT2101_DataAlgo/Oving6/L7Skandinavia.txt
*.wav
IDATT2502_AI/_FinalDelivery/UrbanSound8K/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold1/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold10/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold2/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold3/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold4/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold5/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold6/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold7/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold8/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/audio/fold9/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/FREESOUNDCREDITS.txt
IDATT2502_AI/_FinalDelivery/UrbanSound8K/metadata/.DS_Store
IDATT2502_AI/_FinalDelivery/UrbanSound8K/metadata/UrbanSound8K.csv
IDATT2502_AI/_FinalDelivery/UrbanSound8K/UrbanSound8K_README.txt
