
IDATT2502_AI/Practise/data/cifar-10-python.tar.gz
*.gz
IDATT2502_AI/Practise/data/FashionMNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Practise/data/FashionMNIST/raw/t10k-images-idx3-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Oving3/c/data/MNIST/raw/t10k-images-idx3-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/train-labels-idx1-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/train-images-idx3-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/t10k-labels-idx1-ubyte
IDATT2502_AI/Oving3/a/data/MNIST/raw/t10k-images-idx3-ubyte
*.exe
IDATT2502_AI/Oving5/agaricus-lepiota.data
